/*! _sidebar.scss | Vuero | Css ninja 2020-2021 */

/* ==========================================================================
1. Subsidebar
========================================================================== */

.subsidebar-single-link {
  a {
    display: flex !important;
    align-items: center !important;

    .sidebar-svg {
      font-size: 24px !important;
    }

    span {
      margin-left: 1rem;
    }
  }
}
